@charset "utf-8";
/*
 * ==========================================================================
 *
 * [content]
 *
 * ==========================================================================
 */
img {
	vertical-align: top;
	/*max-width: 100%;*/
}
/**
 * 幅指定
 */
.w33p { width: 33%; }
.w49p { width: 49%; }
.w50p { width: 50%; }
.w80p { width: 80%; }
.w90p { width: 90%; }
.w110 { width: 110px; }
.w120 { width: 120px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w150 { width: 150px; }
.w160 { width: 160px; }
.w170 { width: 170px; }
.w180 { width: 180px; }
.w190 { width: 190px; }
.w200 { width: 200px; }
.w210 { width: 210px; }
.w220 { width: 220px; }
.w230 { width: 230px; }
.w240 { width: 240px; }
.w250 { width: 250px; }
.w300 { width: 300px; }
.w350 { width: 350px; }
.w400 { width: 400px; }
.w450 { width: 450px; }
.w470 { width: 470px; }
.w1em { width: 1em; }
.w2em { width: 2em; }
.w3em { width: 3em; }
.w3hem { width: 3.5em; }
.w4em { width: 4em; }
.w4hem { width: 4.5em; }
.w5em { width: 5em; }
.w5hem { width: 5.5em; }
.w6em { width: 6em; }
.w6hem { width: 6.5em; }
.w7em { width: 7em; }
.w8em { width: 8em; }
.w9em { width: 9em; }
.w10em { width: 10em; }
.w11em { width: 11em; }
.w12em { width: 12em; }
.w13em { width: 13em; }
.w14em { width: 14em; }
.w15em { width: 15em; }
.w16em { width: 16em; }
.w17em { width: 17em; }
.w18em { width: 18em; }
.w19em { width: 19em; }
.w20em { width: 20em; }
/**
 * レイアウト
 */
.mL1hem { margin-left: 1.5em; }
.mL2em { margin-left: 2em; }
.mL2hem { margin-left: 2.5em; }
.mL3em { margin-left: 3em; }
.mL3hem { margin-left: 3.5em; }
.mL4em { margin-left: 4em; }
.mL4hem { margin-left: 4.5em; }
.mL5em { margin-left: 5em; }
.mL6em { margin-left: 6em; }
.mL7em { margin-left: 7em; }
.mL8em { margin-left: 8em; }
.mB60 { margin-bottom: 60px; }
.mB70 { margin-bottom: 70px; }
.mB80 { margin-bottom: 80px; }
/**
 * 文字装飾
 */
.fontMincho { font-family: "ヒラギノ明朝 Pro W3", Hiragino Mincho Pro, "HGS明朝E", Verdana, "ＭＳ Ｐ明朝", serif; }
/**
 * 文字色
 */
.c835EA5 { color: #835EA5; }
.cC1AED2 { color: #C1AED2; }
.cED2087 { color: #ED2087; }
.cFF3399 { color: #FF3399; }
.cE50057 { color: #E50057; }
.c036EAB { color: #036EAB; }
.cE50012 { color: #E50012; }
.c951414 { color: #951414; }
.cAD0E0E { color: #AD0E0E; }
/**
 * --------------------------------------------------------------------------
 * 文字の高さ
 * --------------------------------------------------------------------------
 */
.lh1-8 { line-height: 1.8; }
/**
 * 背景色
 */
.bgEFEFEF { background-color: #EFEFEF; }
/**
 * フォーム用CSS
 */
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
label, input, textarea, select {
	/*font-size: 13px;*/
	line-height: 16px;
	margin: 0;
}
input.formText[type=text],
input.formText[type=password],
input.formText[type=number],
input.formText[type=email],
input.formText[type=tel],
textarea.formText,
select.formSelect {
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
input.formText[type=text]:focus,
input.formText[type=password]:focus,
input.formText[type=number]:focus,
input.formText[type=email]:focus,
input.formText[type=tel]:focus,
textarea.formText:focus,
select.formSelect:focus {
	border: 1px solid #444444;
}
input.formText[type=text].disabled,
input.formText[type=password].disabled,
input.formText[type=number].disabled,
input.formText[type=email].disabled,
input.formText[type=tel].disabled,
textarea.formText.disabled,
select.formSelect.disabled {
	background-color: #F0F0F0;
}
.formText.long { width: 100%; }
.formText.middle { width: 50%; }
.formText.short { width: 30%; }
.formText.mini { width: 10%; }
.formSubmit {
	cursor: pointer;
	line-height: 1;
	padding: 15px 4em;
	border-radius: 3px;
	background: #202D05;
	color: #FFFFFF;
	border: 1px solid #202D05;
	display: inline-block;
	text-decoration: none !important;
	position: relative;
	-webkit-appearance: none;
	-webkit-transition: .25s;
	    -ms-transition: .25s;
	        transition: .25s;
}
.formSubmit:hover {
	background: #FFFFFF;
	color: #202D05 !important;
}
.formSubmitVox {
	text-align: center;
	margin: 50px 0;
}
	.formSubmitVox .formItem {
		display: inline-block;
		margin: 0 1em;
	}
.formSubmit.confirmBt {
	background: #202D05;
	color: #FFFFFF;
}
.formSubmit.confirmBt:hover {
	background: #FFFFFF;
	color: #628333;
}
.formSubmit.editBt {
	border: 1px solid #999999;
	background: #F0F0F0;
	color: #333;
}
.formSubmit.editBt:hover {
	background: #999999;
	color: #FFFFFF !important;
}
.formSubmit.miniBt {
	padding: 10px 1em;
}
/**
 * アイコン用CSS
 */
.icoBlank {
	background: scroll url(../../images/content/content/ico_blank.gif) no-repeat left 0.45em;
	display: inline-block;
	min-height: 16px;
	padding-left: 24px;
}
.icoDoc {
	background: scroll url(../../images/content/content/ico_doc.gif) no-repeat left 0.2em;
	display: inline-block;
	min-height: 16px;
	padding-left: 24px;
}
/**
 * 見出し用CSS
 */
.headSubject01 {
	border-left: 4px solid #026DB6;
	border-bottom: 1px solid #026DB6;
	padding: 0 0 5px 20px;
	letter-spacing: 0.1em;
	color: #026DB6;
	margin-bottom: 30px;
}
/**
 * リスト用CSS
 */

/**
 * ボックス用スタイル
 */

/**
 * ボタン用スタイル
 */
.btnStyle01 {
	display: inline-block;
	border: 1px solid #026DB6;
	border-radius: 5px;
	background-color: #026DB6;
	color: #FFFFFF !important;
	padding: 10px 0;
	letter-spacing: 0.1em;
	text-decoration: none !important;
	-webkit-transition: .25s;
	    -ms-transition: .25s;
	        transition: .25s;
}
	.btnStyle01 span {
		margin: 0 10px;
		background: scroll url(../../images/content/content/ico_arr02.png) no-repeat right center;
		padding: 0 30px;
		display: block;
	}
	.btnStyle01.pdf span {
		margin: 0 10px;
		background: scroll url(../../images/content/content/ico_download01.png) no-repeat right center;
		padding: 0 40px 0 20px;
		min-height: 26px;
	}
.btnStyle01:hover {
	background-color: #FFFFFF;
	color: #026DB6 !important;
}
	.btnStyle01:hover span {
		background: scroll url(../../images/content/content/ico_arr01.png) no-repeat right center;
	}
	.btnStyle01.pdf:hover span {
		background: scroll url(../../images/content/content/ico_download02.png) no-repeat right center;
	}
/**
 * テーブル用スタイル
 */
.tableStyle01 {}
/**
 * 文字サイズ
 */
.s0-8r { font-size: 0.8rem; }
.s1-0r { font-size: 1.0rem; }
.s1-1r { font-size: 1.1rem; }
.s1-2r { font-size: 1.2rem; }
.s1-3r { font-size: 1.3rem; }
.s1-4r { font-size: 1.4rem; }
.s1-5r { font-size: 1.5rem; }
.s1-6r { font-size: 1.6rem; }
.s1-7r { font-size: 1.7rem; }
.s1-8r { font-size: 1.8rem; }
.s1-9r { font-size: 1.9rem; }
.s2-0r { font-size: 2.0rem; }
.s2-1r { font-size: 2.1rem; }
.s2-2r { font-size: 2.2rem; }
.s2-3r { font-size: 2.3rem; }
.s2-4r { font-size: 2.4rem; }
.s2-5r { font-size: 2.5rem; }
.s2-6r { font-size: 2.6rem; }
.s2-8r { font-size: 2.8rem; }
.s2-9r { font-size: 2.9rem; }
.s3-0r { font-size: 3.0rem; }
.s3-4r { font-size: 3.4rem; }
.s3-5r { font-size: 3.5rem; }
.s3-8r { font-size: 3.8rem; }
.s4-0r { font-size: 4.0rem; }
.s5-0r { font-size: 5.0rem; }
/**
 * その他装飾
 */
.note {
	display: block;
	font-size: inherit;
	text-indent: -1em;
}
.note::before {
	content: '※';
}
.circle {
	display: block;
	font-size: inherit;
	text-indent: -1em;
}
.circle::before {
	content: '○';
}
.circle.double::before {
	content: '◎';
}
/**
 * alphaBg
 */
#alphaBg {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 50;
	background: #000000;
	display: none;
	min-height: 100%;
}
.popupWrapper {
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	/*display: none;*/
	z-index: 2100;
	visibility: hidden;
}
	.popupWrapper .closeVox {
		height: 50px;
	}
	.popupWrapper .popupCloseBt {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
	}
		.popupWrapper .popupCloseBt span {
			width: 50px;
			height: 1px;
			background: #FFFFFF;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -0.5px 0 0 -25px;
		}
		.popupWrapper .popupCloseBt span:nth-child(1) {
			-webkit-transform: rotate(-45deg);
		      -ms-transform: rotate(-45deg);
		          transform: rotate(-45deg);
		}
		.popupWrapper .popupCloseBt span:nth-child(2) {
			-webkit-transform: rotate(45deg);
		      -ms-transform: rotate(45deg);
		          transform: rotate(45deg);
		}
	.popupWrapper .contentWrapper {}
	.popupWrapper .content {
		background: #FFFFFF;
	}
#popupContents {
	display: none;
}
/**
 * transition series
 */
.trOp02s {
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}
.trOp02s:hover {
	opacity: 0.6;
}
/**
 ****************************************************
 *
 * screens larger than 768
 *
 ****************************************************
 */
@media only screen and (min-width: 768px) {
	.pcDspNone { display: none; }
}
/**
 ****************************************************
 *
 * screens smaller than 767
 *
 ****************************************************
 */
@media only screen and (max-width: 767px) {
	.spDspNone { display: none; }
	.fitImg { max-width: 100%; }
	/*.s0-8r { font-size: 0.6rem; }
	.s1-0r { font-size: 1.0rem; }
	.s1-1r { font-size: 1.1rem; }
	.s1-2r { font-size: 1.1rem; }
	.s1-3r { font-size: 1.1rem; }
	.s1-4r { font-size: 1.2rem; }
	.s1-5r { font-size: 1.2rem; }
	.s1-6r { font-size: 1.2rem; }
	.s1-7r { font-size: 1.3rem; }
	.s1-8r { font-size: 1.3rem; }
	.s1-9r { font-size: 1.3rem; }
	.s2-0r { font-size: 1.4rem; }
	.s2-1r { font-size: 1.4rem; }
	.s2-2r { font-size: 1.4rem; }
	.s2-3r { font-size: 1.5rem; }
	.s2-4r { font-size: 1.5rem; }
	.s2-5r { font-size: 1.5rem; }
	.s2-6r { font-size: 1.6rem; }
	.s2-8r { font-size: 1.6rem; }
	.s2-9r { font-size: 1.6rem; }
	.s3-0r { font-size: 1.7rem; }
	.s3-4r { font-size: 1.7rem; }
	.s3-5r { font-size: 1.7rem; }
	.s3-8r { font-size: 1.8rem; }
	.s4-0r { font-size: 3.0rem; }
	.s5-0r { font-size: 3.5rem; }*/
	/**
	 * end
	 */
}